version: '3.4'
services:
  weaviate:
    image: semitechnologies/weaviate:1.19.8
    ports:
    - 8080:8080
    restart: on-failure:0
    # volumes:
    #   - var/weaviate:/var/lib/weaviate
    environment:
      QUERY_DEFAULTS_LIMIT: 25
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: 'true'
      PERSISTENCE_DATA_PATH: './data/weaviate'
      DEFAULT_VECTORIZER_MODULE: 'text2vec-openai'
      ENABLE_MODULES: text2vec-openai
      CLUSTER_HOSTNAME: 'node1'
      OPENAI_APIKEY: ''
      # AZURE_APIKEY: ''

